/__pycache__/Screen.cpython-38.pyc
/__pycache__/Screen.cpython-38.pyc
/__pycache__/Screen.cpython-38.pyc
/__pycache__/GUI.cpython-38.pyc
/__pycache__/Screen.cpython-38.pyc
/__pycache__/Screen.cpython-38.pyc
/__pycache__/GUI.cpython-38.pyc
/__pycache__/Screen.cpython-38.pyc
/__pycache__/GUI.cpython-38.pyc
/__pycache__/Screen.cpython-38.pyc
/__pycache__/BackgammonGame.cpython-38.pyc
/__pycache__/GUI.cpython-38.pyc
/__pycache__/Screen.cpython-38.pyc
/__pycache__/GUI.cpython-38.pyc
/__pycache__/Screen.cpython-38.pyc
/__pycache__/Screen.cpython-38.pyc
/__pycache__/GUI.cpython-38.pyc
/__pycache__/BackgammonGame.cpython-38.pyc
/__pycache__/Files.cpython-38.pyc
/__pycache__/copyright.cpython-38.pyc
stats_file.txt
